.pageContainer {
    background-color: white;
    padding: 0 20px;
    height: 100%;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;

    :global {
        .ant-tabs-nav {
            margin: 0 !important;
        }
    }


    .box {
        display: flex;
        flex-direction: row;
        width: 100%;
        // height: 100%;
        height: calc(100% - 18px);

        .left {
            width: 180px;
            height: calc(100% - 48px);
            // border-right: 1px solid #e0e0e0;
            display: flex;
            flex-direction: column;
            min-height: 400px;

            .top {
                flex: 1;
                padding: 10px;
                height: calc(100% - 48px);

                .cateList {
                    .cateItem {
                        margin-bottom: 15px;
                        cursor: pointer;

                        &:hover {
                            color: #1890ff;
                        }

                        .title {
                            margin-left: 5px;
                        }

                        &.selected {
                            color: #1890ff;
                        }
                    }
                }
            }

            .bottom {
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-top: 1px solid #e0e0e0;
            }
        }

        .right {
            flex: 1;
            height: calc(100% - 28px);
            padding: 10px;
            display: flex;
            flex-direction: column;
            border-left: 1px solid #e0e0e0;

            .rightTop {}

            .rightContent {
                flex: 1;
                padding-top: 15px;
                min-height: 545px;

                .checkAll {}

                .imageList {
                    padding-top: 15px;

                    .imageName {
                        width: 98px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        margin-top: 5px;
                        font-size: 14px;
                        color: #666;
                    }

                    .imageBox {
                        position: relative;

                        .itemChecked {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 98px;
                            height: 98px;
                            border-radius: 4px;
                            background-color: #00000080;
                            box-sizing: border-box;
                        }

                        .imageToolItem {
                            color: #1890ff;
                            font-size: 13px;

                        }

                        .playBtn {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);

                        }
                    }

                    .imageBox:hover {
                        .imageToolItem {
                            display: block;
                        }
                    }
                }

            }
        }

        .selectedFiles {
            width: 120px;
            height: calc(100% - 28px);
            border-left: 1px solid #e8e8e8;
            padding: 10px 10px;
            max-height: 630px;

            .header {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .clear {
                    color: #1890ff;

                }
            }

            .selectedBox {
                overflow-y: scroll;
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 610px;

                &::-webkit-scrollbar {
                    width: 5px;
                }

                .selectedItem {
                    margin-top: 10px;
                    position: relative;

                    .selectedItemDelete {
                        position: absolute;
                        right: -10px;
                        top: -10px;
                    }
                }
            }

        }

    }
}